body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('/src/assets/bg-pattern.png') repeat;
  background-color: #0a2656;
  color: #fff;
}

input, button {
  font-family: inherit;
}
